{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Page</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f7f7f7;
      }
      .chat-container {
        max-width: 1200px;
        margin: 0 auto;
      }
      .sidebar,
      .main-content,
      .chat-form {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
      }
      .list-group-item {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container chat-container">
      <div class="row">
        <div class="col-md-4 sidebar p-4">
          <h2>Sohbetler</h2>
          <ul class="list-group">
            {% for sohbet in sohbetler %}
            <li class="list-group-item">
              <a href="{% url 'SohbetDetay' sohbet.id %}">{{ sohbet }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-8">
          <div class="main-content p-4">
            <h2>Seçili Sohbet</h2>
            {% if secili_sohbet %}
            <h3>{{ secili_sohbet }}</h3>
            <div id="chat-messages">
              {% for mesaj in mesajlar %}
              <p>{{ mesaj.gönderen }}: {{ mesaj.içerik }}</p>
              {% endfor %}
            </div>
            {% else %}
            <p>Lütfen Bir Sohbet Seçin</p>
            {% endif %}
          </div>
          <div class="chat-form p-4">
            <h2>Mesaj Gönder</h2>
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">{{ mesajform.as_p }}</div>
              <button type="submit" class="btn btn-primary">Gönder</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
